 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: greenyellow;
 }
 
 body{  
    background-color: firebrick;
     height: 100vh;  /*unidad VIEWPORT HEIGHT*/
     width: 100vh;   /*unidad VIEWPORT WIDTH*/
}

.contenedor{
        height: 100%;
        width: 100%;
        display: flex;
}

main{
    height: 100%;
    width: 60%;
    background-color: white;
    padding: 20px;
}
aside{
    height: 100%;
    width: 40%;
    background-color: darkgoldenrod;
    padding: 20px;
}