 body{  
    background-color: firebrick;
     height: 50vh;  /*unidad VIEWPORT HEIGHT*/
     width: 100vh;   /*unidad VIEWPORT WIDTH*/
}

.contenedor{
        height: 100%;
        width: 100%;

     background-color: red;
}

main{
    height: 90%;
    width: 60%;
    background-color: white;
}